#logosec{
    text-align: center;
    background-image: url(/images/assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    height: 650px;
    font-family: sans-serif;
    
}
#image1{
    padding-top: 200px;
}
#heading1{
    margin-top: 20px;
}
#heading2{
    margin-top: 20px;
}
#image2{
  margin-top: 100px;
}
#aboutus{
    padding-top: 50px;
    text-align: center;
}
#services{
    height: 300px;
    padding-top: 100px;
    text-align: center;
    background-size: cover;
    background-image: url(/images/assets/backgrounds/s_image.jpg);
    color: white;
}
#col-1{
    padding-top: 50px;
    text-align: center;
}
#p-1{
    display: none;
}
#row1 h4{
  text-align: center;
  padding-top: 30px;
}
#col-2{
    text-align: center;
    padding-top: 50px;
}
#p-2{
    display: none;
}
#col-3{
    padding-top: 39px;
    text-align: center;
}
#p-3{
    display: none;
}
#portfolio h4{
    padding-top: 50px;
    text-align: center;
}
#row-2{
    padding-top: 20px;
}
#work4{

    width: 250px;
}
#work3{
    width: 250px;
}
#work2{
    width: 250px;
}
#work1{
    width: 250px;
}
#row-3{
    padding-top: 30px;
}
#work5{
    width: 250px;
}
#work6{
    width:250px

}
#work7{
    width: 250px;
}
#work8{
    width: 250px;
}
#contactus{
    padding-top: 50px;
    text-align: center;
    background-image: url(/images/assets/backgrounds/c_image.jpg);
    background-size: cover;
    margin-top: 50px;
    color: white;
    height: 500px;
}
#contactus h4{

    margin-bottom: 20px;
    
}
#name{
    width: 400px;
    margin-left: 30px;
    background: transparent;
    border: 2px solid white;
}
#email{
    width: 400px;
    margin-left: 60px;
    background: transparent;
    border: 2px solid white;



}
#message{
     border: 2px solid white;
    width: 800px;
    height: 200px;
    background: transparent;
    
}
#contactus ::placeholder{
    color: white;
}
#socials{
    text-align: center;
    padding-top: 50px;
}
#socials img{
    padding-left: 20px;
}
#ds{
    padding-top: 20px;
}
#overlay{
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 70px;
    font-size: 25px;
    background-color: black;

}
#overlay2{
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 25px;
    background-color: black;
    
}
#overlay2{
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 25px;
    background-color: black;
    
}
#overlay2{
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 25px;
    background-color: black;
    
}
#overlay3{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
    
}
#overlay4{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
    
}
#overlay4{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
    
}
#overlay5{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
}
#overlay6{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
    
}
#overlay7{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 70px;
    font-size: 25px;
    background-color: black;
    
}
#overlay8{
    text-align: center;
    Position: absolute;
    display: none;
    color: white;
    margin-top: 80px;
    margin-left: 10px;
    font-size: 20px;
    background-color: black;
    
}
#contactus2{
    text-align: center;
    background-image: url(/images/assets/backgrounds/c_image.jpg);
    background-size: cover;
    margin-top: 50px;
}



#name2{
    
    width: 400px;
    height: 40px;
    border: 2px solid white;
    margin-left: 30px;
    background: transparent;
}
#email2{
    width: 400px;
    height: 40px;
    margin-left: 50px;
    background: transparent;
    border: 2px solid white;

}
#message2{
    margin-top: 30px;
    width: 800px;
    height: 300px;
    background: transparent;
    border: 2px solid white;
}
#button1{
    margin-top: 20px;
}
#contactus3 h4{
    color: white;
    margin-bottom: 20px;
}



